.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

p:hover {
  color: red;
  transform: scale(1.5);
}

h1:hover {
  transform: scale(1.5);
}

footer:hover {
  transform: scale(0.9);
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  font-family: Arial;
  color: #393E46;
  font-size: 15px;
  background: #4ECCA3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  left: 590px;
  top: 15px;
}

button:hover {
  background-color: azure;
}
